{% extends 'base.html.twig' %}

{% block title %}Incrivez-vous{% endblock %}

{% block body %}

    {# <section class="bg-secondary bg-gradient vh-100">
        <div class="container py-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Formulaire d'inscription</h3>
                            {{ form_start(registrationForm) }}

                                {{ form_row(registrationForm.email) }}
                                {{ form_row(registrationForm.firstName) }}
                                {{ form_row(registrationForm.lastName) }}
                                {{ form_row(registrationForm.birthday) }}
                                {{ form_row(registrationForm.plainPassword, {
                                    label: 'Password'
                                }) }}
                                {{ form_row(registrationForm.agreeTerms) }}

                                <button type="submit" class="btn">inscription</button>
                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  #}


    <section class="vh-100 bg-secondary bg-gradient">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Formulaire d'inscription</h3>
                            {{ form_start(registrationForm) }}

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control form-control-lg'}}) }}
                                            {{ form_label(registrationForm.firstName, null, {
                                                'label': 'Votre prénom',
                                                'label_attr': {'class': 'form-label'}
                                            }) }}
                                            {# <input type="text" id="firstName" class="form-control form-control-lg" />
                                            <label class="form-label" for="firstName"></label> #}
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control form-control-lg'}}) }}
                                                {{ form_label(registrationForm.lastName, null, {
                                                    'label': 'Votre nom de famille',
                                                    'label_attr': {'class': 'form-label'}
                                                }) }}
                                            {# <input type="text" id="lastName" class="form-control form-control-lg" />
                                            <label class="form-label" for="lastName">Last Name</label> #}
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4 d-flex align-items-center">

                                        <div class="form-outline datepicker w-100">
                                            {{ form_widget(registrationForm.birthday) }}
                                            {{ form_label(registrationForm.birthday, null, {
                                                'label': 'Votre date de naissance',
                                                'label_attr': {'class': 'form-label'}
                                            }) }}
                                            {# <input type="text" class="form-control form-control-lg" id="birthdayDate" />
                                            <label for="birthdayDate" class="form-label">Birthday</label> #}
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4 pb-2">

                                        <div class="form-outline">
                                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control form-control-lg'}}) }}
                                            {{ form_label(registrationForm.email, null, {
                                                'label': 'Votre adresse mail',
                                                'label_attr': {'class': 'form-label'}
                                            }) }}
                                            {# <input type="email" id="emailAddress" class="form-control form-control-lg" />
                                            <label class="form-label" for="emailAddress">Email</label> #}
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4 pb-2">

                                        <div class="form-outline">
                                            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control form-control-lg'}}) }}
                                            {{ form_label(registrationForm.plainPassword, null, {
                                                'label': 'Votre mot de passe',
                                                'label_attr': {'class': 'form-label'}
                                            }) }}
                                            {# <input type="email" id="emailAddress" class="form-control form-control-lg" />
                                            <label class="form-label" for="emailAddress">Email</label> #}
                                        </div>

                                    </div>                                          
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4 pb-2">

                                        <div class="form-outline">
                                            {{ form_widget(registrationForm.agreeTerms) }}
                                            {{ form_label(registrationForm.agreeTerms, null, {
                                                'label': 'Acceptez les termes d\'utilisation',
                                                'label_attr': {'class': 'form-label'}
                                            }) }}
                                            {# <input type="email" id="emailAddress" class="form-control form-control-lg" />
                                            <label class="form-label" for="emailAddress">Email</label> #}
                                        </div>

                                    </div>                                    
                                </div>

                                <div class="mt-4 pt-2">
                                    <input class="btn btn-primary btn-lg" type="submit" value="Incription" />
                                </div>

                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
